@import "src/styles/main";

.chats {
  padding: 100px 0;

  &-wrapper {
    display: flex;
    height: 80vh;
  }

  &-block {
    background: white;
    box-shadow: 0.4px 0.4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  &__sidebar {
    flex: 0 0 360px;
    height: 100%;
    margin-right: 30px;

    &-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  &__main {
    height: 100%;
    flex-grow: 1;
  }

  &-search {
    height: 80px;
    padding: 43px 17px 17px 17px;
    border-bottom: 1px solid #5F5F5F;
  }
}