---
styles: './chats.scss'
chats: [ {id: 1, name: 'Ivan Ivanov',}, {id: 2, name: 'Petr Petrov'} ]
---
{{#extend "main"}}
    {{#content "main"}}
        <div class="chats">
            <div class="container">
                <div class="chats-wrapper">
                    <div class="chats__left chats-block">
                        <div class="chats-search">
                            <div class="form-input">
                                <input type="text" placeholder="Search">
                            </div>

                        </div>

                        <ul class="chats-list">
                            <li>
                                {{#each chats}}
                                    {{> list-item this }}
                                {{/each}}
                            </li>
                        </ul>
                    </div>
                    <div class="chats__main chats-block">
                        <div class="chats__main-head">

                        </div>

                        <div class="chats__main-chat">

                        </div>

                        <div class="chats__main-textarea">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}