---
styles: './chats.scss'
chats: [ {name: 'Ivan Ivanov'}, {name: 'Petr Petrov'} ]
---
{{#extend "main"}}
    {{#content "main"}}
        <div class="chats">
            <div class="container">
                <div class="chats-wrapper">
                    <div class="chats__sidebar chats-block">
                        <div class="chats-search">
                        </div>

                        <ul class="chats__sidebar-list">
                            <li>
                                {{#each chats}}
                                    {{> list-item this }}
                                {{/each}}
                            </li>
                        </ul>
                    </div>

                    <div class="chats__main chats-block">
                        <div class="chats__main-head">

                        </div>

                        <div class="chats__main-chat">

                        </div>

                        <div class="chats__main-textarea">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}