<div class="list-item">
    <div class="list-item__image">

    </div>

    <div class="list-item__text">
        <div class="list-item__text-name">Ivan Ivanov</div>
        <div  class="list-item__text-msg">Я тут кое-что придумал..</div>
    </div>

    <span class="list-item__time">12:12</span>
</div>