<div class="list-item">
    <div class="list-item__image">

    </div>

    <div class="list-item__text">
        <div class="list-item__right-name">Ghbdtn</div>
        <div  class="list-item__right-msg">{{ last-message }}</div>
    </div>

    <span class="list-item__time">{{ time }}</span>
</div>